.docs {
  display flex
  flex-wrap wrap
  margin 0 rem(-14) rem(56) 0

  &__item {
    display block
    color inherit
    text-decoration none
    font-size rem(14)
    line-height (21/14)
    max-width uq('calc(100% - ' + rem(14) + ')')
    padding rem(14) 0 0 rem(60)
    cursor pointer
    transition $transition-base
    position relative
    margin 0 rem(14) rem(14) 0
    background none no-repeat 0 0
    background-size rem(43) auto
    &:hover, &:focus {
      color inherit
      text-decoration none
      & {r}__title {
        color $red-1
      }
    }

    &_pdf {
      background-image inline-svg('pdf.svg')
    }
  }

  &__icon {
    position absolute
    top 0
    left 0
  }

  &__title {
    font-size rem(18)
    line-height (28/18)
    font-weight bold
    color $black-1
    text-overflow(ellipsis)
    max-width 100%
    transition inherit
    margin 0
  }

  &__info {
    text-overflow(ellipsis)
  }
}