.popup {
  width 100%
  padding rem(35)
  border-radius rem(2)
  background-color #ffffff
  box-shadow 0 rem(10) rem(40) 0 rgba(0, 0, 0, 0.2)
  position relative
  p {
    &:last-child {
      margin 0
    }
  }

  &__btn-close {
    color #666666
    font-size rem(16)
    line-height 1em
    transition $transition-base
    position absolute
    top rem(16)
    right rem(16)
    z-index 10
    &:hover, &:focus {
      color $red-1
    }
  }

  &__header {
    font-size rem(16)
    line-height 1.75
    color #4e4f54
    margin 0 0 rem(28)
  }

  &__title {
    font-size rem(22)
    line-height 1.27
    text-align left
    color inherit
    margin 0 0 rem(14)
  }

  &_size_652 {
    max-width rem(652)
  }

  @media (min-width $screen-sm-min) {
    padding rem(55)

  }
}