.text-field
  display inline-block
  vertical-align top
  color $text-color
  text-align left
  height rem(49)
  padding 0 rem(23)
  background #ffffff
  border 1px solid transparent
  border-radius rem(2)
  transition $transition-base
  &::placeholder
    color #b8b9bb
  &,
  &:active,
  &.active
    &:focus,
    &.focus,
    &.ik_select_link_focus
      outline 0
      border-color $blue-1
      &~.form-label__text
        font-size 0.75rem
        line-height 1.6em
  &:active,
  &.active
    outline 0
  &.disabled,
  &[disabled],
  fieldset[disabled] &
    disabled()

  &[required], &.required
    &~.form-label__text
      &:after
        content '\00A0*'
        color $red-2

  &.error, &.parsley-error
    //background #ffe3e4
    border-color $red-2

  &_textarea
    resize vertical
    overflow-y auto
    height rem(49)
    padding-top rem(8)
    padding-bottom rem(8)

  &_has-val
    &~.form-label__text
      font-size 0.75rem
      line-height 1.6em

  &_type_2 {
    background-color #fefefe
    border-color #d8d8d8
    border-radius 0
  }