.checkbox {
  display inline-block
  vertical-align top
  align-items flex-start
  font-size rem(16)
  line-height (28/16)em
  text-align left
  position relative
  margin-left rem(43)

  &__icon {
    display flex
    justify-content center
    align-items center
    color $text-color
    text-align center
    square rem(28)
    position absolute
    top (28/16/2)em
    left rem(-43)
    margin rem(-14) 0
    border-radius rem(2)
    background-color #fefefe
    border 1px solid #d8d8d8
    cursor pointer
    transition $transition-base
    &:before {
      display none
      font-size rem(14)
      line-height 1em
    }
  }

  &__label {
    display block
  }

  &__input {
    clip rect(0, 0, 0, 0)
    position absolute
    width 0
    height 0
    &:focus {
      & ~ {r}__icon {
        border-color $blue-1
      }
    }
    &:checked {
      & ~ {r}__icon {
        &:before {
          display block
        }
      }
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      & ~ {r}__icon {
        disabled()
      }
    }
  }
}