mixin checkbox(name, checked, req)
  label.-checkbox&attributes(attributes)
    input.__input(type='checkbox' name=name checked=checked required=req)
    span.__icon.glyphicon.glyphicon-correct-symbol
    span.__label
      block