include ../menu/menu

mixin header()
  header.-header&attributes(attributes)
    .__top.container-fluid
      button.__toggle-menu.glyphicon.glyphicon-menu-lines.hidden-md.hidden-lg(type='button' data-toggle='menu')
      +a(pages.index.url).__logo(title=config.project.name)
      .__panel
        +menu(menuList)
        .__panel-bottom
          +a('tel:+74956493479').__tel(title='Позвонить') +7 495 649-34-79
          +a(pages.contacts.url + '#order-call').__order-call.btn.btn_1 Заказать звонок
    block