.menu {
  margin 0 (- $grid-gutter-width/2)

  &__item {
    &_submenu {
      & > {r}__btn {
      }
    }

    &_current {
      & > {r}__btn {
        &_lvl_1 {
          &, &:hover, &:focus {
            &:before {
              background $red-1
            }
          }
        }
        &_lvl_2 {
          &, &:hover, &:focus {
            color $red-1
          }
        }
      }
    }

    &_opened {
      & > {r}__btn {
        &_lvl_1 {
          &, &:hover, &:focus {
            &:before {
              background $red-1
            }
          }
        }
      }
    }
  }

  &__btn {
    display block
    text-overflow(ellipsis)
    font-size rem(18)
    line-height 1.25em
    color $black-1
    text-decoration none
    padding rem(14) ($grid-gutter-width/2)

    &_lvl_1 {
      position relative
      &:before {
        content ''
        width rem(4)
        background transparent
        transition inherit
        position absolute
        top 0
        bottom 0
        left 0
      }
      &:hover, &:focus {
        color $black-1
        text-decoration none
        &:before {
          background $red-1
        }
      }
    }

    &_lvl_2 {
      font-size rem(16)
      padding-left $grid-gutter-width
      &:hover, &:focus {
        color $red-1
        text-decoration none
      }
    }
  }

  &__icon {

  }

  &__submenu {
    display none
    .container-fluid {
      padding 0
    }
  }

  @media (min-width $screen-md-min) {
    display flex
    overflow hidden
    margin 0

    &__item {
      &_lvl_1 {
        overflow hidden
        margin 0 rem(25)
      }

      &_lvl_2 {
        display inline-block
        margin rem(9) rem(35) rem(9) 0
      }

      &_submenu {

      }
    }

    &__btn {
      &_lvl_1 {
        padding rem(30) 0 rem(31)
        &:before {
          width auto
          height rem(4)
          top auto
          right 0
        }
      }

      &_lvl_2 {
        padding 0
      }
    }

    &__submenu {
      text-align left
      background-color #fbfbfb
      padding rem(34) 0
      border-top 1px solid #e6e6e6
      position absolute
      top 100%
      right 0
      left 0
      &:before {
        content ''
        box-shadow 0 rem(2) rem(30) 0 rgba(40, 41, 43, 0.15)
        position absolute
        top rem(30)
        right 0
        bottom 0
        left 0
        z-index -1
      }
      .container-fluid {
        padding 0 ($grid-gutter-width/2)
      }
    }
  }
}