.social-networks {
  display flex
  flex-flow row wrap
  align-items center

  &__title {
    margin 0 0 rem(10)
  }

  &__item {
    display inline-flex
    vertical-align top
    justify-content center
    align-items center
    color #ffffff
    text-decoration none
    font-size rem(14)
    line-height 1em
    width rem(28)
    height rem(28)
    border 1px solid #a6a6a6
    border-radius 50%
    margin 0 0 rem(10) rem(10)
    &:hover, &:focus {
      color #ffffff
      text-decoration none
      border-color white
    }
  }

  @media (min-width $screen-sm-min) {

  }

  @media (min-width $screen-md-min) {

  }
}
