.review-list {
  margin 0 0 rem(91)
  .review-item {
    margin 0 0 rem(77)
  }

  &_margin-left {
    margin 0
  }

  @media (min-width $screen-md-min) {
    &_margin-left {
      .review-item {
        margin-left rem(38)
      }
    }
  }
}