.form-label
  display block
  position relative
  .text-field
    display block
    width 100%

  &__text
    text-align left
    color #b8b9bb
    text-overflow ellipsis
    line-height rem(49)
    transition $transition-base
    pointer-events none
    position absolute
    top 0
    right unquote('calc(' + rem(23) + ' + 1px)')
    left unquote('calc(' + rem(23) + ' + 1px)')
