.service-item {
  flex none
  width uq('calc(100% - ' + rem(20) + ')')
  color #ffffff
  border-radius rem(4)
  margin 0 rem(10) rem(20)
  p {
    &:last-child {
      margin 0
    }
  }

  &__inner {
    display block
    padding-top percentage(336/670)
    position relative
    background #30303a
    border-radius inherit
    &, &:hover, &:focus {
      color inherit
      text-decoration none
    }
  }

  &__img {
    border-radius inherit
    opacity 0.4
    position absolute
    top 0
    left 0
  }

  &__content {
    padding percentage(150/670) percentage(50/670) percentage(30/670) percentage(50/670)
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    z-index 1
  }

  &__title {
    display inline-block
    vertical-align top
    font-size rem(20)
    font-weight bold
    line-height 1.25em
    text-align left
    color #ffffff
    max-width 100%
    border-bottom 1px solid rgba(white, 0.4)
    text-overflow(ellipsis)
    margin 0 0 rem(15)
  }

  &__description {
    overflow hidden
    font-size rem(14)
    line-height 1.56em
    max-height 1.56em*2
    line-clamp(2)
  }


  @media (min-width $screen-sm-min) {
    width uq('calc(50% - ' + rem(20) + ')')
    &:first-child {
      width uq('calc(100% - ' + rem(20) + ')')
      & {r}__inner {
        padding-top percentage(464/1360)
      }

      & {r}__content {
        padding percentage(167/1360) percentage(50/1360) percentage(30/1360) uq('calc(50% + ' + rem(55) + ')')
      }
    }
  }

  @media (min-width $screen-md-min) {
    & {r}__title {
      font-size rem(38)
    }

    & {r}__description {
      font-size rem(18)
    }
  }

  @media (min-width $screen-lg-min) {
    & {r}__description {
      max-height 1.56em*3
      line-clamp(3)
    }
  }
}