.section-3 {
  padding rem(50) 0
  h1, .h1 {
    font-size rem(32)
    font-weight 300
    line-height 1.33
    margin 0 0 (42/42)em
  }
  h2, .h2 {
    font-size rem(22)
    line-height 1.12
    text-transform uppercase
    margin (63/25)em 0 (35/25)em
  }
  ul {
    list-style none
    padding 0
    li {
      &:before {
        content '-\00A0'
      }
    }
  }

  @media (min-width $screen-md-min) {
    padding rem(75) 0
    h1, .h1 {
      font-size rem(42)
    }
    h2, .h2 {
      font-size rem(25)
    }
  }
}