.section {
  &__header {
    padding rem(20) 0
  }

  &__title {
    font-size rem(35)
    font-weight 300
    line-height 1.33
    margin rem(19) 0 rem(21)
  }

  &__col-1 {
    margin 0 0 rem(60)
  }

  &__about-info {
    margin 0 0 rem(60)
  }

  &__about-info-content {
    padding rem(30) rem(25) rem(30)
    background-color #ffffff
    border solid 1px #e6e6e6
    ul {
      list-style none
      padding 0
      margin 0 0 rem(-35)
      li {
        margin 0 0 rem(35)
        &:before {
          content ''
          display block
          width 20px
          height 1px
          background-color #e6e6e6
          margin 0 0 rem(13)
        }
      }
    }
  }

  &__about-info-img {
    display block
    width 100%
    position relative
    margin 0 0 -1px
  }

  &__about-info-title {
    font-size rem(25)
    line-height 1.25
    color $black-1
    margin 0 0 rem(30)
  }

  &_about {
    & {r}__header {
      color #ffffff
      background url("bg-about.jpg") no-repeat 50% 0/cover
      margin 0 0 rem(35)

      @media $media-retina-2 {
        background-image url("bg-about@2x.jpg")
      }

      @media $media-retina-3 {
        background-image url("bg-about@3x.jpg")
      }
    }

    & {r}__title {
      color #ffffff
    }
  }

  &_service {
    padding-bottom rem(35)
    & {r}__header {
      padding-bottom rem(10)
    }
  }

  &_clients, &_partners {
    padding-bottom rem(55)
    & {r}__header {
      padding-bottom rem(2)
    }
  }

  &_partners {
    padding-bottom 0
    .filters {
      margin-bottom 0
    }
  }

  &_review {
    padding-bottom rem(82)
    & {r}__header {
      padding-bottom rem(35)
    }
  }

  &_service-view {
    & {r}__header {
      color #ffffff
      background-color #30303a
      position relative
      margin 0 0 rem(35)
      .container-fluid {
        position relative
        z-index 1
      }
    }

    & {r}__header-bg {
      content ''
      background none no-repeat 50% 0/cover
      opacity 0.4
      pointer-events none
      position absolute
      top 0
      right 0
      bottom 0
      left 0
    }

    & {r}__title {
      color #ffffff
    }
  }

  &_team {
    & {r}__header {
      color #ffffff
      font-size rem(14)
      background url("osman-rana-263702.jpg") no-repeat 50% 0/cover
      p {
        &:last-child {
          margin-bottom 0
        }
      }

      @media $media-retina-2 {
        background-image url("osman-rana-263702@2x.jpg")
      }

      @media $media-retina-3 {
        background-image url("osman-rana-263702@3x.jpg")
      }
    }

    & {r}__title {
      color #ffffff
      margin rem(10) 0 rem(9)
    }
  }

  &_sitemap {
    padding-bottom rem(80)
    & {r}__header {
      padding-bottom rem(42)
    }
  }

  @media (min-width $screen-sm-min) {
    &__title {

    }
  }

  @media (min-width $screen-md-min) {
    &__header {
      padding rem(60) 0
    }

    &__title {
      font-size rem(42)
    }

    &__about-info {
      padding-left rem(35)
    }

    &__about-info-content {
      padding rem(45) rem(40) rem(45) rem(50)
    }

    &__about-info-title {
      margin 0 0 rem(45)
    }

    &_about {
      & {r}__header {
        margin 0 0 rem(75)
      }
    }

    &_service-view {
      & {r}__header {
        margin 0 0 rem(75)
      }
    }
  }
}
