.slider-main {
  overflow hidden
  height uq('calc(100vh - ' + rem(55) + ' - 1px)')
  min-height rem(400)
  p {
    &:last-child {
      margin 0
    }
  }
  .slick-list, .slick-track, .slick-slide {
    height 100%
  }

  &__item {
    position relative
  }

  &__img {
    position absolute
    top 0
    left 0
  }

  &__content {
    color white
    height 100%
    padding rem(45) rem(15)
    opacity 1
    transition 0.2s linear
    position relative
    .loading & {
      opacity 0
    }
  }

  &__title {
    color inherit
    font-size rem(32)
    line-height 1.2
    letter-spacing rem(-0.2)
    font-weight 300
    margin 0 0 rem(23)
    strong {
      font-weight 800
    }
  }

  &__btn {
    position relative
    z-index 1
  }

  @media (min-width $screen-sm-min) {

  }

  @media (min-width $screen-md-min) {

  }

  @media (min-width $screen-lg-min) {

  }
}