-
  var voidHref = 'javascript:;';

  var paths = {
  imgGeneral: 'static/img/general',
  imgContent: 'static/img/content'
  }

  var pages = {
  home: {title: 'Pages', url: 'home.html'},
  index: {title: 'Главная', url: 'index.html'},
  about: {title: 'О компании', url: 'about.html'},
    team: {title: 'Команда', url: 'team.html'},
    history: {title: 'История', url: 'history.html'},
  service: {title: 'Услуги', url: 'service.html'},
    tv: {title: 'Телевидение', url: 'tv.html'},
    radio: {title: 'Радио', url: 'radio.html'},
    ad: {title: 'Наружная реклама', url: 'ad.html'},
    press: {title: 'Пресса', url: 'press.html'},
    internet: {title: 'Интернет', url: 'internet.html'},
  clients: {title: 'Клиенты', url: 'clients.html'},
    review: {title: 'Отзывы', url: 'review.html'},
  partners: {title: 'Партнёры', url: 'partners.html'},
  contacts: {title: 'Контакты', url: 'contacts.html'},
  sitemap: {title: 'Карта сайта', url: 'sitemap.html'},
  };

  var popups = {
  };