include ../../helpers/variables
include ../../helpers/mixins
include ../../blocks/checkbox/checkbox

form.-popup._size_652.container-fluid.form-order-call#form-order-call(action='' method='get' data-parsley-validate="" style="display: none")
  .__header
    h2.__title Заказать звонок
    p.
      Оставьте свой номер телефона и&nbsp;наши специалисты свяжутся с&nbsp;вами в&nbsp;ближайшее время
  .-form-row
    label.-form-label
      input.-text-field._type_2(type="tel" name="name" required minlength="16" data-mask="+7-000-000-00-00")
      span.__text Номер вашего телефона
  .-form-row._last
    .__agreement
      +checkbox(name='agreement' required) Я&nbsp;ознакомлен с&nbsp;#[+a(pages.confidentiality.url)(target='_blank') политикой конфиденциальности] #[br]и&nbsp;даю #[+a()(target='_blank') согласие на&nbsp;обработку своих персональных данных].
    button.__btn-submit.btn.btn_4(type='submit' data-toggle='submit') Отправить