include ../../helpers/variables
include ../../helpers/mixins
include ../../blocks/checkbox/checkbox

form.-popup._size_652.container-fluid.form-order-call(action='' method='get' data-parsley-validate="")
  .__header
    h2.__title Заказать звонок
    p.
      Оставьте свой номер телефона и&nbsp;наши специалисты свяжутся с&nbsp;вами в&nbsp;ближайшее время
  .-form-row
    label.-form-label
      input.-text-field._type_2(type="tel" name="name" required minlength="16" data-mask="+7-000-000-00-00")
      span.__text Номер вашего телефона
  .-form-row._last
    .__agreement
      +checkbox(name='agreement' required) Я&nbsp;ознакомлен с&nbsp;#[+a(pages.confidentiality.url)(target='_blank') политикой конфиденциальности] #[br]и&nbsp;даю #[+a()(target='_blank') согласие на&nbsp;обработку своих персональных данных].
    button.__btn-submit.btn.btn_4(type='submit' data-toggle='submit') Отправить

  script.
      $(function () {
          $('.form-order-call').parsley().on('field:validated', function () {
              var ok = $('.parsley-error').length === 0;
          }).on('form:submit', function (el) {
              var $form = el.$element;
              $form.find('[data-toggle="submit"]').attr('disabled', true);
              var data = $form.serialize();
              var responseMsg = 'Ваше сообщение успешно отправлено, мы Вам перезвоним!';

              $.ajax({
                  type: $form.attr('method'),
                  url: $form.attr('action'),
                  data: data,
                  success: function (data, textStatus, jqXHR) {

                  },
                  error: function (jqXHR, textStatus, errorThrown) {
                      console.log('При отправке возникла ошибка: ' + jqXHR.status);
                      responseMsg = 'При отправке возникла ошибка! "' + jqXHR.statusText + '"';
                  },
                  complete: function (jqXHR, textStatus) {
                      $form.find('[data-toggle="submit"]').attr('disabled', false);
                      $.fancybox.close();
                      $.fancybox.open('<div class="popup popup_size_652 popup_response_order-call container-fluid">' +
                          '<div class="popup__header"><h2 class="popup__title">' + responseMsg + '</h2></div>' +
                          '<button class="btn btn_4" data-fancybox-close="data-fancybox-close">Закрыть</button>' +
                          '</div>');
                  }
              });
              return false;
          });
      });
