.sitemap-item {
  list-style none
  color $black-1
  padding 0
  margin 0 0 rem(40)
  > li {
    font-size rem(25)
    line-height 1.12em
    margin-bottom rem(14)
  }
  a {
    color inherit
    text-decoration none
    border-bottom 1px solid #d1d1d1
    &:hover, &:focus {
      color $red-1
      border-bottom-color $red-1
    }
  }
  ul {
    list-style none
    padding 0
    margin 0 0 rem(35)
    li {
      margin-bottom rem(7)
    }
  }
}