mixin footer()
  footer.-footer&attributes(attributes)
    .__top
      .-container-fluid
        .-row
          .-col-xs-6.col-sm-3.col-md-2
            dl.-footer.__nav
              dt
                +a(pages.about.url)=pages.about.title
              dd
                ul
                  li
                    +a(pages.team.url)=pages.team.title
                  li
                    +a(pages.history.url)=pages.history.title
            dl.-footer.__nav
              dt
                +a(pages.partners.url)=pages.partners.title
          .-col-xs-6.col-sm-3.col-md-2
            dl.-footer.__nav
              dt
                +a(pages.service.url)=pages.service.title
              dd
                ul
                  li
                    +a(pages.tv.url)=pages.tv.title
                  li
                    +a(pages.radio.url)=pages.radio.title
                  li
                    +a(pages.ad.url)=pages.ad.title
                  li
                    +a(pages.press.url)=pages.press.title
                  li
                    +a(pages.internet.url)=pages.internet.title
          .-col-xs-6.col-sm-3.col-md-2
            dl.-footer.__nav
              dt
                +a(pages.clients.url)=pages.clients.title
              dd
                ul
                  li
                    +a(pages.review.url)=pages.review.title
          .-col-xs-6.col-sm-3.col-md-2
            dl.-footer.__nav
              dt
                +a(pages.contacts.url)=pages.contacts.title
              dd
                ul
                  li
                    +a(pages.contacts.url + '#order-call') Написать нам
                  li
                    +a(pages.sitemap.url) Карта сайта
          .-col-xs-12.col-sm-12.col-md-4
    block