.footer {
  flex 0 0 auto
  .social-networks {
    margin rem(15) 0 rem(5)
  }

  &__top {
    color #666666
    padding rem(55) 0 rem(15)
    background-color #f2f2f2
  }

  &__nav {
    margin 0 0 rem(35)

    dt {
      font-size rem(15)
      font-weight 700
      line-height 1.25em
      letter-spacing rem(0.6)
      color $black-1
      text-transform uppercase
      margin 0 0 rem(25)
      a {
        color inherit
        text-decoration none
        &:hover, &:focus {
          color $red-1
          text-decoration none
        }
      }
    }

    dd {
      font-size rem(16)
      line-height 1.25em
      margin 0
    }

    ul {
      padding 0
      margin 0
      li {
        margin-bottom rem(15)
      }
      a {
        color inherit
        text-decoration none
        &:hover, &:focus {
          color #e62727
          text-decoration none
        }
      }
    }
  }

  &__col-last {
    text-align center
  }

  &__tel {
    font-size rem(18)
    font-weight 700
    line-height 1.25em
    color #000000
    text-decoration none
    &:hover, &:focus {
      color #000000
      text-decoration none
    }
  }

  &__order-call {
    margin rem(15) 0 0
  }

  &__address {
    text-align left
    font-size rem(14)
    line-height (21/14)
    margin rem(20) 0 rem(35)
    p {
      &:last-child {
        margin 0
      }
    }
  }

  &__bottom {
    color #a6a6a6
    font-size rem(11)
    line-height 1.25em
    text-transform uppercase
    padding rem(18) 0
    background-color #010000
    p:not(.footer__dev) {
      margin rem(8) 0 rem(15)
      &:last-child {
        margin-bottom 0
      }
    }
    a:not(.social-networks__item) {
      color inherit
      text-decoration none
      &:hover, &:focus {
        color white
        text-decoration none
      }
    }
  }

  &__copyright {
    display block
    margin 0 0 rem(15)
  }

  &__dev {
    display inline-flex
    vertical-align top
    align-items center
    margin 0
    img {
      display block
      width rem(140)
    }
  }

  @media (min-width $screen-sm-min) {
    .social-networks {
      margin 0 0 rem(-10)
    }

    &__tel {
      vertical-align middle
    }

    &__order-call.btn {
      vertical-align middle
      margin 0 0 0 rem(20)
    }

    &__dev {
      margin rem(7) 0 0
    }
  }

  @media (min-width $screen-md-min) {
    .social-networks {
      display inline-flex
      vertical-align top
      margin 0 rem(60) rem(-10) 0
    }

    &__col-last {
      text-align left
      margin rem(-8) 0 0
    }

    &__order-call.btn {
      margin rem(15) 0 0
    }

    &__copyright {
      display inline
      margin 0 rem(36) 0 0
    }

    &__col-last-2 {
      text-align right
    }

    &__dev {
      height rem(28)
      margin 0
    }
  }

  @media (min-width $screen-lg-min) {
    &__col-last {
      flex-basis auto
      width auto
      max-width percentage(4/12)
      margin rem(-13) 0 0 auto
    }

    &__order-call.btn {
      margin 0 0 0 rem(20)
    }
  }

  @media (min-width em-root(1440px)) {
    .container-fluid {
      max-width none
      margin-left percentage(100/1920)
      margin-right percentage(100/1920)
    }
  }
}