include ../social-networks/social-networks

mixin footer()
  footer.-footer&attributes(attributes)
    .__top
      .-container-fluid
        .-row
          .-col-xs-6.col-sm-3.col-md-2
            dl.-footer.__nav
              dt
                +a(pages.about.url)=pages.about.title
              dd
                ul
                  li
                    +a(pages.team.url)=pages.team.title
                  li
                    +a(pages.history.url)=pages.history.title
            dl.-footer.__nav
              dt
                +a(pages.partners.url)=pages.partners.title
          .-col-xs-6.col-sm-3.col-md-2
            dl.-footer.__nav
              dt
                +a(pages.service.url)=pages.service.title
              dd
                ul
                  li
                    +a(pages.tv.url)=pages.tv.title
                  li
                    +a()='Радио'
                  li
                    +a()='Наружная реклама'
                  li
                    +a()='Пресса'
                  li
                    +a()='Интернет'
          .-col-xs-6.col-sm-3.col-md-2
            dl.-footer.__nav
              dt
                +a(pages.clients.url)=pages.clients.title
              dd
                ul
                  li
                    +a(pages.review.url)=pages.review.title
          .-col-xs-6.col-sm-3.col-md-2
            dl.-footer.__nav
              dt
                +a(pages.contacts.url)=pages.contacts.title
              dd
                ul
                  li
                    +a() Написать нам
                  li
                    +a(pages.sitemap.url) Карта сайта
          .-col-xs-12.col-sm-12.col-md-4.footer__col-last
            +a('tel:+74956493479').-footer.__tel(title='Позвонить') +7 495 649-34-79
            br.hidden-sm.hidden-lg
            +a().-footer.__order-call.btn.btn_2(data-fancybox='' data-type='ajax' data-src='popups/order-call.html') Заказать звонок
            address.-footer.__address
              p.
                105066,&nbsp;Москва#[br]
                ул.&nbsp;Нижняя Красносельская, вл.&nbsp;40/12, корп.&nbsp;20,#[br] ДЦ&nbsp;«Новь», 5&nbsp;этаж, офис&nbsp;507
    .__bottom
      .-container-fluid
        .-row
          .-col-xs-12.col-sm-6.col-lg-7
            p
              span.-footer.__copyright &copy;&nbsp;2017&nbsp;Construct Region
              +a(pages.confidentiality.url) Политика конфиденциальности
          .-col-xs-12.col-sm-6.col-lg-5.footer__col-last-2
            +social-networks()
            p.-footer.__dev Создание сайтов&nbsp;&nbsp;&nbsp;&mdash;&nbsp;&nbsp;&nbsp;
              +a('//design-lab.ru')(target='_blank')
                img(src=`${paths.imgGeneral}/dsgnlab-logo.svg` alt='Дизайн-Лаб' title='Дизайн-Лаб')
    block