.page {
  display flex
}

@keyframes loading {
  100% {
    transform rotate(360deg)
  }
}

// loading
.loading {
  &:before {
    content ''
    position absolute
    width rem(30px)
    height rem(30px)
    margin rem(-15px)
    border-width rem(3px)
    border-style solid
    border-color $red-1
    border-right-color transparent
    border-radius 50%
    top 50%
    left 50%
    right 50%
    bottom 50%
    animation loading 1.2s linear infinite
    z-index $zindex-navbar
  }
}

// fancybox
.fancybox-bg {
  background #000000
  .fancybox-is-open &{
    opacity 0.6
  }
}

.fancybox-slide {
  white-space nowrap
  padding ($grid-gutter-width/2)
  > * {
    white-space normal
  }

  @media (min-width $screen-sm-min) {
    //padding $grid-gutter-width
  }
}

.fancybox-arrow {
  visibility hidden
  transition opacity .25s, visibility 0s linear .25s
  .fancybox-show-nav & {
    opacity 1
    visibility visible
    transition opacity .25s, visibility 0s
  }
}

// slideout
.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  width: 260px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

// opened-panel
.opened-panel {
  @media (max-width $screen-sm-max) {
    overflow hidden
    body {
      overflow hidden
    }
  }
}

.page {
  &_home-project {
    display block
    & {$p}__header {
      background #2a333c
      margin 0 0 20px
      padding 30px 0
    }
    & {$p}__title {
      color white
      margin 0
      small {
        color inherit
      }
    }
  }

  for $key, $val in $colors {
    &_{$key} {
      $blue-1 = $val;
      $link-color = $blue-1
      $link-hover-color = darken($link-color, 15%)

      // scaffolding
      ::selection {
        background $blue-1
      }
      a {
        color $link-color
        &:hover,
        &:focus {
          color $link-hover-color
        }
      }

      // loading
      .loading {
        &:before {
          border-color $blue-1
          border-right-color transparent
        }
      }
    }
  }

  @media (min-width $screen-md-min) {
    &_index {
      .header {
        background none
        border-color rgba(#e6e6e6, 0.15)
        position absolute
        &__logo {
          &:before {
            content url('logo-white.svg')
          }
        }
        &__tel {
          &, &:hover, &:focus {
            color white
          }
        }
      }
      .menu {
        &__btn {
          &_lvl_1 {
            &, &:hover, &:focus {
              color white
            }
          }
        }
      }
      .btn_1 {
        color white
        border-color #e6e6e6
        &:hover,
        &:focus,
        &.focus {
          color white
          background $red-1
          border-color $red-1
        }
      }
    }

  }
}