.pagination {
  display flex
  flex-wrap wrap
  margin 0 rem(-15) rem(15) 0
  &__item {
    flex none
    min-width rem(49)
    font-size rem(18)
    font-weight bold
    line-height 1.17em
    text-align center
    color $black-1
    text-decoration none
    padding rem(13) rem(5)
    border-radius rem(2)
    background-color #ffffff
    border solid 1px transparent
    transition $transition-base
    margin 0 rem(15) rem(15) 0
    &:hover, &:focus {
      color $black-1
      text-decoration none
      border-color #ff0000
    }

    &_current {
      cursor default
      &, &:hover, &:focus {
        color #999999
        border-color transparent
      }
    }

    &_prev, &_next {
      &:before{
        font-size rem(12)
      }
    }
  }
}