.filters {
  border-bottom 1px solid #e6e6e6
  margin 0 0 rem(55)
  .container-fluid {
    display flex
    overflow-x auto
  }

  &__item {
    flex none
    overflow hidden
    text-overflow(ellipsis)
    font-size rem(16)
    font-weight bold
    line-height 1.31em
    letter-spacing rem(0.8)
    text-align left
    text-transform uppercase
    color rgba(#4e4f54, 0.4)
    text-decoration none
    padding rem(12) 0 rem(12)
    border-bottom rem(2) solid transparent
    margin 0 rem(40) 0 0
    &:hover, &:focus {
      color rgba(#4e4f54, 0.4)
      text-decoration none
      border-bottom-color #ff0000
    }
    &_current {
      color $black-1
      border-bottom-color #ff0000
    }
  }
}